

body {
    margin: 0;
    padding-top: 100px;
    background: #F5F1EA;
    color: #2a2a2a;
    font-family: 'Raleway', sans-serif;
}

.section {
    min-height: 100vh;
    display: flex;
}

.about {
    min-height: calc(100vh - 100px);
    background: #F5F1EA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}


.about-content {
    width: 55%;
}

.about-name {
    font-size: 20vh;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
}

.about-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 90%;
}


.about::after {
    content: "";
    position: absolute;
    bottom: -2px;

    left:0%;
    transform: translateX(-50%);

    width: 80%;
    height: 2px;

    background: linear-gradient(
        90deg,
        transparent,
        #B8502E,
        transparent
    );
}

.about-description {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 700px;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-left {
    width: 450px;
    flex-shrink: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-location {
    line-height: 1.8;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 2000;
    margin-left: -4rem;
}

.about-map iframe {
    
    margin-left: 2rem; 
    width: 110%;
    height: 250px;
    border: none;
    border-radius: 12px;
}

.education-card {
    
    margin-left: 4rem;

    background: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.education-card img {
    width: 60px;
    height: auto;
}

.education-info h4 {
    margin: 0;
    font-size: 1rem;
}

.education-info p {
    margin: 0.3rem 0 0;
    color: #666;
}

.certificates-link {
    
    margin-top: -1rem;
    margin-left: 4rem;
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem 7rem;

    text-align: center;
    transition: 0.3s;
}

.certificates-link:hover {
    transform: translateY(-2px);
}

.certificates-link a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}


.skills {
    background: #F5F1EA;
}

.projects {
    background: #EFEAE0;
}

.contact {
    background: #F5F1EA;
}
